/*@import url('https://fonts.googleapis.com/css2?family=Qwigley&display=swap');*/
/* @import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&family=Poppins&display=swap');

/* Font choices
Babylonica
Dr+Sugiyama
*/

body {
    background-color: #fff;
    background: radial-gradient(circle, white, silver);
    background-image: url("sparkle1.gif");
    background-repeat: repeat;
    font-family: 'Dr Sugiyama', cursive;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
  }
  
  .grid-container {
    display: grid;
    justify-items: center;
    align-items: center;
    /* margin-top: 7rem; */
    margin-top: 3rem;
  }

  .center {
    position: fixed;
    bottom: 7vh;
    /* transform: translateY(-50%); */
    left: 50%;
    transform: translateX(-50%);
  }

  video {
    display:inline;
    border: 10px solid black;
    border-radius: 100%;
    object-fit: cover;
    height: 45vh;
    margin-top: 5rem;
    /* width: 22rem; */
    width: 40vh;
    animation: ripple 3.5s linear infinite;
    filter: brightness(1.2) grayscale(0.1) sepia(0.4);
  }
  
  @keyframes ripple {
    0% {
    filter: brightness(1.2) grayscale(0.2) sepia(0.4);
    }
    50% {
    filter: brightness(1.3) grayscale(0.1) sepia(0.8);
    }
    100% {
    filter: brightness(1.2) grayscale(0.2) sepia(0.4);
    }
  }


  #mirror {
    display:inline;
    /* height: 100vh; */
    height: 75vh;
    width: auto;
    position: absolute;
  }

  p {
    margin-block-start: 0em;
    margin-block-end: 0em;
  }

  #message {
    display: block;
    text-align: center;
    font-size: 3rem;
    color: #000;
    max-width: 800px;
    text-align: center;
    margin: 8rem auto 0rem auto;
  }

  button {
    display: block;
    border: none;
    text-align: center;
    background: #000;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    margin: 1rem auto;
    border-radius: 4px;
    padding: 0.25em 1em;
    transition: all 0.25s ease-in-out;
  }

  button:hover {
    cursor: pointer;
    box-shadow: 0 0 1em #f0e7bf, 0 0 1em #f0e7bf inset;
    color: #fff;
    transform: scale(1.05);
  }

  /* BACKGROUND */
  /*
  https://alvarotrigo.com/blog/animated-backgrounds-css/
*/

/* SMALL */
@media screen and (max-width: 1200px) {
    #message {
        font-size: 2.5rem;
    }
  }

/* LARGE DESKTOP */
@media screen and (min-width: 1650px) {
    .grid-container {
        margin: auto;
      }

    #message {
        margin: 8rem auto 0rem auto;
        font-size: 4rem;
    }
  }

/* SHORT */
@media screen and (max-height: 900px) {

    #message {
        margin: 5rem auto 0rem auto;
    }

    .center {
        position: fixed;
        top:4vh;
        /* transform: translateY(-50%); */
        left: 50%;
        transform: translateX(-50%);
      }
}